<div class="text-center p-6 mt-8 bg-gray-200 text-gray-600">
        <p class="text-sm py-4">Deze tool is gebaseerd op officiële richtlijnen van de Rijksoverheid en is bedoeld om u te helpen bij uw voorbereiding op noodsituaties.</p>
        <p class="text-sm py-4">Voor de meest actuele informatie, raadpleeg altijd de officiële overheids kanalen.</p>
        <small class="text-sm">&copy; <a href="{{ .Site.BaseURL | absURL }}" class="text-brand-green hover:underline">goedoverleven.nl</a> - {{ now.Year }}</small>


    </div>