<nav class="bg-white p-4 shadow-md">
        <div class="container mx-auto flex items-center justify-between">
            <a href="{{ .Site.BaseURL | absURL }}" class="flex items-center">
                <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }} Logo" class="h-12 md:h-16">
            </a>
            <!-- CTA Button in Navbar -->
            <a href="{{ "/noodpakket/samenstellen-noodpakket" | absURL }}" class="inline-block btn-primary text-sm md:text-base font-bold py-2 px-4 rounded-full shadow-md hover:scale-105 transform">
                Stel Noodpakket Samen »
            </a>
        </div>
    </nav>